footer {
  width: 100vw;
  min-height: 50px;
  background-color: #001f3f;
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: space-around;
  margin-top: auto;
}

.location,
.contact,
.time {
  display: flex;
  height: fit-content;
  width: fit-content;
  gap: 0.5rem;
  align-items: center;
  text-decoration: none;
}

.location img,
.contact img,
.time img {
  height: 2rem;
}

.location p,
  .contact p,
  .time p  {
  font-family: "roboto";
  font-size: 1.5rem;
  color: #fff;
}


@media only screen and (max-width: 768px) {
  .location p,
  .contact p,
  .time p {
    font-size: 1.5rem;
    text-wrap: wrap;
    word-wrap: normal;
  }
}
