@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
  
  body {
    @apply bg-background text-foreground antialiased selection:bg-brand-accent/20;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .glass {
    @apply bg-background/50 backdrop-blur-md border border-accents-2;
  }
  
  .border-vercel {
    @apply border border-accents-2 hover:border-accents-3 transition-colors duration-200;
  }

  .text-secondary {
    @apply text-accents-5;
  }
}
